.App {
  text-align: center;
}

.flex {
  display: flex;
  justify-content: space-around;
}
.container {
  width: 90%;
  margin: 0 auto;
}

button {
  margin-top: 1rem;
  height: 4rem;
  width: 20rem;
  border-radius: 20px;
  border: 1px solid black;
  background: rgb(248, 247, 201);
}

button:hover {
  background: rgb(255, 255, 236);
  cursor: pointer;
}

.left-area {
  width: 45%;
}
.left-area button {
  display: flex;
  margin-left: auto;
  align-items: center;
  justify-content: center;
}
.right-area {
  width: 45%;
}
.right-area button {
  display: flex;
  margin-right: auto;
  align-items: center;
  justify-content: center;
}
.card {
  height: 18rem;
  border-radius: 50px;
  border: 1px solid black;
  margin-top: 3rem;
  padding: 1rem;
}
h2 {
  font-size: 2rem;
}
p {
  font-size: 1.4rem;
}
.classCompo {
  background: rgb(219, 110, 188);
}
.funcCompo {
  background: rgb(136, 233, 136);
}
