.App {
  text-align: center;
}

.flex {
  display: flex;
  justify-content: space-around;
}
.container {
  width: 90%;
  margin: 0 auto;
}

button {
  height: 2rem;
  width: 10rem;
  border-radius: 10px;
  border: 1px solid black;
  font-size: 10px;
  background: rgb(248, 247, 201);
}

button:hover {
  background: rgb(255, 255, 236);
  cursor: pointer;
}

.left-area {
  width: 45%;
}
.right-area {
  width: 45%;
}
p {
  font-size: 12px;
}

.card {
  height: 10rem;
  border-radius: 20px;
  border: 1px solid black;
  margin-top: 1rem;
}
.classCompo {
  background: rgb(219, 110, 188);
}
.funcCompo {
  background: rgb(136, 233, 136);
  /* border:solid black; */
}
