body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: linear-gradient(
    to bottom,
    #8ebbfe,
    #86ceff,
    #8edefd,
    #a4ecf9,
    #c0f8f6
  );
  background-repeat: no-repeat;
  text-align: center;
  /* background: red; */
  margin: 0 auto;
  height: 100vh;
}

p {
  font-size: 16px;
}
